@import "common.css";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  background-color: #20232a;
  color: #ffffff;
  .logo {
    position: absolute;
    top: 15px;
    width: 24px;
    height: 20px;
    background: url(../img/logo.svg) no-repeat 50%;
  }
  .nav {
    width: 60%;
    height: 100%;
    margin-left: 50px;
    .nav-link,
    .nav-link-active {
      padding: 0 10px;
      line-height: 50px;
      color: #ffffff;
    }
    .nav-link-active {
      color: rgb(97, 218, 251);
    }
  }
}

.banner {
  padding-top: 60px;
  padding-bottom: 70px;
  background-color: #282c34;
  color: #ffffff;
  .title {
    color: #61dafb;
    text-align: center;
    font-size: 45px;
  }
}

.content {
  padding-top: 15px;
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}
